/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/nbproject/private/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/build/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/nbproject/private/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/build/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/assignments/unit1/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/HW03Iterations/build/
/workshops/unit1/WS07Menus/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/WS07Menus/build/
/assignments/unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/build/
/exams/unit 1/Exam1/nbproject/private/
/exams/unit 1/MartinezMateoQ11/nbproject/private/
/exams/unit 1/MartinezMateoQ11/build/
/project/unit1/Distance/nbproject/private/
/project/unit1/Distance/build/
/workshops/unit 2/WS08Correction/WS08Correction/nbproject/private/
/workshops/unit 2/WS08Correction/WS08Correction/build/
/workshops/unit 2/WS08Debugging/WS08debugging/nbproject/private/
/workshops/unit 2/WS08Debugging/WS08debugging/build/
/workshops/unit2/WS08Debugging/WS08debugging/nbproject/private/
/workshops/unit2/WS08Debugging/WS08debugging/build/
/assignments/unit 2/HW08FactorialNumber/HW08Factorialnumber/nbproject/private/
/assignments/unit 2/HW08FactorialNumber/HW08Factorialnumber/build/
/assignments/unit2/HW09EmbeddedStructures/HW09Embeddedstructures/nbproject/private/
/assignments/unit2/HW09EmbeddedStructures/HW09Embeddedstructures/build/
/workshops/unit2/WS10Functions/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/WS10Functions/build/
/assignments/unit2/HW10Functions/HW10Functions/nbproject/private/
/assignments/unit2/HW10Functions/HW10Functions/build/
