/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/nbproject/private/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/build/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/nbproject/private/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/build/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
/assignments/unit1/HW03Iterations/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/HW03Iterations/build/
/workshops/unit1/WS07Menus/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/WS07Menus/build/
/assignments/unit1/HW04Menus/HW04Menus/nbproject/private/
/assignments/unit1/HW04Menus/HW04Menus/build/
/exams/unit 1/Exam1/nbproject/private/
/exams/unit 1/MartinezMateoQ11/nbproject/private/
/exams/unit 1/MartinezMateoQ11/build/
/project/unit1/Distance/nbproject/private/
/project/unit1/Distance/build/
/workshops/unit 2/WS08Correction/WS08Correction/nbproject/private/
/workshops/unit 2/WS08Correction/WS08Correction/build/
/workshops/unit 2/WS08Debugging/WS08debugging/nbproject/private/
/workshops/unit 2/WS08Debugging/WS08debugging/build/
/workshops/unit2/WS08Debugging/WS08debugging/nbproject/private/
/workshops/unit2/WS08Debugging/WS08debugging/build/
/assignments/unit 2/HW08FactorialNumber/HW08Factorialnumber/nbproject/private/
/assignments/unit 2/HW08FactorialNumber/HW08Factorialnumber/build/
/assignments/unit2/HW09EmbeddedStructures/HW09Embeddedstructures/nbproject/private/
/assignments/unit2/HW09EmbeddedStructures/HW09Embeddedstructures/build/
/workshops/unit2/WS10Functions/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/WS10Functions/build/
/assignments/unit2/HW10Functions/HW10Functions/nbproject/private/
/assignments/unit2/HW10Functions/HW10Functions/build/
/workshops/unit2/WS11FunctionsandRecursion/WS11FunctionsandRecursion/nbproject/private/
/workshops/unit2/WS11FunctionsandRecursion/WS11FunctionsandRecursion/build/
/assignments/unit2/HW11Recursion/HW11Recursion/nbproject/private/
/assignments/unit2/HW11Recursion/HW11Recursion/build/
/workshops/unit2/WS12Libraries/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/WS12Libraries/build/
/assignments/unit2/HW12Taxes/HW12Taxes/nbproject/private/
/assignments/unit2/HW12Taxes/HW12Taxes/build/
/assignments/unit2/HW12Taxes/HW12Taxes/dist/
/workshops/unit2/WS13Task/WS13Task/nbproject/private/
/workshops/unit2/WS13Task/WS13Task/build/
/workshops/unit2/WS13Task/WS13Task/dist/
/workshops/unit2/WS14Arrays/streamingServices/nbproject/private/
/workshops/unit2/WS14Arrays/streamingServices/build/
/workshops/unit2/WS14Arrays/streamingServices/dist/
/workshops/unit2/WS14Arrays/WS14streamigServices/nbproject/private/
/workshops/unit2/WS14Arrays/WS14streamigServices/build/
/assignments/unit2/HW14Arrays/HW14Arrays/nbproject/private/
/assignments/unit2/HW14Arrays/HW14Arrays/build/
/assignments/unit2/HW14Arrays/HW14Arrays/dist/
/quizzes/unit 2/ArraysQuiz22-02/nbproject/private/
/quizzes/unit 2/ArraysQuiz22-02/build/
/quizzes/unit 2/ArraysQuiz22-02/dist/
