/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/nbproject/private/
/assignments/unit1/HW02/HW02Ranges of Numeric primitives/build/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/nbproject/private/
/workshops/unit1/WS04Logicaloperators/WS04Logicaloperators/build/
/workshops/unit1/WS05Iterations/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/WS05Iterations/build/
